@model PanPanBakery.Models.CakeBookings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CakeBookings</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CakeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CakeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CakeDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CakeDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
   
    </dl>
</div>
<div>
    <a asp-action="DisplayCakes">Back to List</a>
</div>
